@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #767676;
  --gray: #b1b1b1;
  --grayLight: #ececec;
  --green: #07af9d;
  --red: #fa4949;
  --yellow: #fece01;
  --white: #f6f6f5;
}

body {
  color: var(--black);
  background: var(--white);
}
